.typing-area{
    border-radius: 50px;
    background-color: rgb(236, 236, 236);
    color: black;
}
.typing-area input{
    color: black;
}
@media (max-width: 768px) {
    .emoji-picker{
        width: 50px;
        transform: translateX(9px);
    }
    .typing-area{
        width: 65%;
        transform: translateY(10px) translateX(15px);
    }
}
