.container{
    background: #fff;
}
.container-2{
    /* background-color: #F5F7FA; */
    /* background-color: black; */
}
.container-3{
    position: absolute;
    bottom: 0;
    height: 92%;
    width: 80%;
    right: 0;
}