.container{
    background: #fff;
    position: relative;
}

.container-3{
    position: absolute;
    bottom: 0;
    height: 92%;
    width: 80%;
    right: 0;
}
@media (max-width: 768px) {
    .container-3{
        position: absolute;
        top: 70px;
        left: 1;
        width: 420px;
        height: 700px;
    }
}
